*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: monospace;
    }
      
    body{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: pink
    }
  
    .box {
      width: 500px;
      background: #fafafa;
      border-radius: 12px;
      text-align: center;
      background-color: beige;
    }
  
    /* Style main title */
    h1 {
    color: black;
    font-weight: bold;
    padding: 25px;
    font-size: 45px;
    }
  
  
      
      .content {
          padding: 0 30px;
          
      }
      
      .input {
        background: white;
        border-radius: 12px;
        padding: 25px;
        margin-bottom: 20px;
      }
  
      
      .input label {
          display: block;
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin-bottom: 20px;
      }
      .input input {
        outline: none;
        border: none;
        border-bottom: 1px solid pink;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
      }
      
      .inputW {
          background: #fff;
          box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
          border-radius: 12px;
          padding: 10px 0;
          margin-bottom: 20px;
      }
  
  
      .inputW label {
          display: block;
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin-bottom: 20px;
      }
     .inputW input {
          outline: none;
          border: none;
          border-bottom: 1px solid pink;
          width: 50%;
          text-align: center;
          font-size: 28px;
          font-family: "Nunito", sans-serif;
      }
  
      .inputH {
          background: #fff;
          box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
          border-radius: 12px;
          padding: 10px 0;
          margin-bottom: 20px;
          margin-right: 20px;
      }
  
  
      .inputH label {
          display: block;
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin-bottom: 20px;
      }
     .inputH input {
          outline: none;
          border: none;
          border-bottom: 1px solid pink;
          width: 50%;
          text-align: center;
          font-size: 28px;
          font-family: "Nunito", sans-serif;
      }
  
    
      button.calculate {
        cursor: pointer;
        font-family: monospace;
        color: #fff;
        background: pink;
        font-size: 24px;
        border-radius: 7px;
        padding: 12px 0;
        width: 100%;
        outline: none;
        border: none;
        transition: all 0.5s;
    }  
    button.calculate:hover {
      background: rgb(235, 49, 235);
    }
  
    
    
  .result {
      padding: 10px 20px;
    }
    .result p {
      font-weight: 600;
      font-size: 22px;
      color: #000;
      margin-bottom: 15px;
    }
    .result #result {
      font-size: 36px;
      font-weight: 900;
      color: pink;
      background-color: white;
      display: inline-block;
      padding: 7px 20px;
      border-radius: 55px;
      margin-bottom: 25px;
    }
    #comment {
    color: pink;
    font-weight: 800;
  }
  
  .comment {
      display: none;
      border: dashed 1px;
      border-radius: 7px;
      padding: 5px;
  }
  
  .gender {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      background: #fff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 20px 0;
      margin-bottom: 20px;
  }
  
    /* Style untuk radio */
  .gender .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 7px;
      margin-top: 7px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Untuk menghilangkan radio button bawaan browser */
    .gender .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Button Radio kostum buatan sendiri */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
     
    /* Ketika memencet radio button maka muncul warna pink */
    .gender .container input:checked ~ .checkmark {
      background-color: pink;
    }
    
    /* Untuk indikator (dot/titik - tersembunyi kertika tidak dipilih) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* memperlihatkan indikator ketika dipilih */
    .gender .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* style untuk indikator */
    .gender .container .checkmark:after {
         top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
   
    /* container untuk tinggi dan berat */
  .containerHW {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
    
  
  
  

  