*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: monospace;
  }
    
  /* body kalkulator */
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: pink
  }

  .box {
    width: 500px;
    background: #fafafa;
    border-radius: 12px;
    text-align: center;
    background-color: beige;
  }

  /* Judul Kalkulator BMI */
  h1 {
  color: black;
  font-weight: bold;
  padding: 25px;
  font-size: 45px;
  }


    /* style form */
    .content {
        padding: 0 30px;
        
    }
    
    /* style input usia */
    .input {
      background: white;
      border-radius: 12px;
      padding: 25px;
      margin-bottom: 20px;
    }

    
    .input label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
    .input input {
      outline: none;
      border: none;
      border-bottom: 1px solid pink;
      width: 50%;
      text-align: center;
      font-size: 28px;
      font-family: "Nunito", sans-serif;
    }
    
    /* style input berat badan */
    .inputW {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
    }


    .inputW label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputW input {
        outline: none;
        border: none;
        border-bottom: 1px solid pink;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

    /* style input tinggi badan */
    .inputH {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }


    .inputH label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputH input {
        outline: none;
        border: none;
        border-bottom: 1px solid pink;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

  /* Style button calculate */
    button.calculate {
      cursor: pointer;
      font-family: monospace;
      color: #fff;
      background: pink;
      font-size: 24px;
      border-radius: 7px;
      padding: 12px 0;
      width: 100%;
      outline: none;
      border: none;
      transition: all 0.5s;
  }  
  button.calculate:hover {
    background: rgb(235, 49, 235);
  }

  
  /* style result dari perhitungan kalkulator BMI */
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color: pink;
    background-color: white;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
  }

  /* Comment untuk pernyataan hasil BMI (Kamu) */
  #comment {
  color: pink;
  font-weight: 800;
}

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}

/* style untuk pilihan gender */
.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}

  /* style untuk radio */
.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* menghilangkan radio button original yg berasal dari browser */
  .gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* radio button costum */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* ketika mouse hover ke radio maka beri background abu-abu */
  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* ketika radio button dipilih maka muncul warna pink */
  .gender .container input:checked ~ .checkmark {
    background-color: pink;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* memperlihatkan indikator ketika dipencet */
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* style untuk indikator radio */
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /* Style terakhir untuk radio */

.containerHW {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  




/* Modal atau notif harap isi ketika belum mengisi semua data yg diperlukan */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  padding-top: 300px;

}

/* Content modal */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 200px;
  border-radius: 10px;
}

#modalText {
  padding-top: 8px;
  padding-right: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 23, 23);
}

.modal-wrong {
border: 2px solid red;
}

.modal-correct {
  border: 2px solid green;
  }

/* tombol tutup (x) didalam modal */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  color: #d41111; 
}
